<footer class="footer set-bg" data-setbg="/assets/footer-bg.jpg" style="background-image: url('/assets/footer-bg.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="logo__carousel owl-carousel owl-loaded owl-drag">
                    <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-1030px, 0px, 0px); transition: all 0s ease 0s; width: 3090px;"><div class="owl-item cloned" style="width: 106px; margin-right: 100px;"><div class="logo__carousel__item">
                        <a href="#"><img src="/assets/hvt booking logo2.png" alt=""></a>
                    </div></div><div class="owl-item cloned" style="width: 106px; margin-right: 100px;"><div class="logo__carousel__item">
                        <a href="#"><img src="/assets/hvt booking logo2.png" alt=""></a>
                    </div></div><div class="owl-item cloned" style="width: 106px; margin-right: 100px;"><div class="logo__carousel__item">
                        <a href="#"><img src="/assets/hvt booking logo2.png" alt=""></a>
                    </div></div><div class="owl-item cloned" style="width: 106px; margin-right: 100px;"><div class="logo__carousel__item">
                        <a href="#"><img src="/assets/hvt booking logo2.png" alt=""></a>
                    </div></div><div class="owl-item cloned" style="width: 106px; margin-right: 100px;"><div class="logo__carousel__item">
                        <a href="#"><img src="/assets/hvt booking logo2.png" alt=""></a>
                    </div></div><div class="owl-item active" style="width: 106px; margin-right: 100px;"><div class="logo__carousel__item">
                        <a href="#"><img src="/assets/hvt booking logo2.png" alt=""></a>
                    </div></div><div class="owl-item active" style="width: 106px; margin-right: 100px;"><div class="logo__carousel__item">
                        <a href="#"><img src="/assets/hvt booking logo2.png" alt=""></a>
                    </div></div><div class="owl-item active" style="width: 106px; margin-right: 100px;"><div class="logo__carousel__item">
                        <a href="#"><img src="/assets/hvt booking logo2.png" alt=""></a>
                    </div></div><div class="owl-item active" style="width: 106px; margin-right: 100px;"><div class="logo__carousel__item">
                        <a href="#"><img src="/assets/hvt booking logo2.png" alt=""></a>
                    </div></div><div class="owl-item active" style="width: 106px; margin-right: 100px;"><div class="logo__carousel__item">
                        <a href="#"><img src="/assets/hvt booking logo2.png" alt=""></a>
                    </div></div><div class="owl-item cloned" style="width: 106px; margin-right: 100px;"><div class="logo__carousel__item">
                        <a href="#"><img src="/assets/hvt booking logo2.png" alt=""></a>
                    </div></div><div class="owl-item cloned" style="width: 106px; margin-right: 100px;"><div class="logo__carousel__item">
                        <a href="#"><img src="/assets/hvt booking logo2.png" alt=""></a>
                    </div></div><div class="owl-item cloned" style="width: 106px; margin-right: 100px;"><div class="logo__carousel__item">
                        <a href="#"><img src="/assets/hvt booking logo2.png" alt=""></a>
                    </div></div><div class="owl-item cloned" style="width: 106px; margin-right: 100px;"><div class="logo__carousel__item">
                        <a href="#"><img src="/assets/hvt booking logo2.png" alt=""></a>
                    </div></div><div class="owl-item cloned" style="width: 106px; margin-right: 100px;"><div class="logo__carousel__item">
                        <a href="#"><img src="/assets/hvt booking logo2.png" alt=""></a>
                    </div></div></div></div><div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span></button><button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button></div><div class="owl-dots disabled"></div></div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="footer__content">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="#"><img src="/assets/hvt_lux_icon_ytext.png" alt=""></a>
                        </div>
                        <h4>072 69 69 69</h4>
                        <ul>
                            <li>Gjaurska Ulica 69/420</li>
                            <li>hvtinfo@gmail.com</li>
                        </ul>
                        <div class="footer__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-youtube-play"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1 col-md-5 offset-md-1 col-sm-6">
                    <div class="footer__widget">
                        <h4>Quick Link</h4>
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Booking</a></li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Review</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                        <ul>
                            <li><a href="#">Services</a></li>
                            <li><a href="#">Our Room</a></li>
                            <li><a href="#">Restaurants</a></li>
                            <li><a href="#">Payments</a></li>
                            <li><a href="#">Events</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-5 col-md-8 col-sm-12">
                    <div class="footer__newslatter">
                        <h4>Subscribe to our newsletter</h4>
                        <form action="#">
                            <input type="text" placeholder="Your E-mail Address">
                            <button type="submit">Subscribe</button>
                        </form>
                        <div class="footer__newslatter__find">
                            <h5>Find Us:</h5>
                            <div class="footer__newslatter__find__links">
                                <a href="#"><i class="fa fa-tripadvisor"></i></a>
                                <a href="#"><i class="fa fa-map-o"></i></a>
                                <a href="#"><i class="fa fa-dribbble"></i></a>
                                <a href="#"><i class="fa fa-forumbee"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>