<header class="header">
    <div class="header__nav__option">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="header__logo">
                        <a href="/home"><img class="logo__icon" src="/assets/hvt_lux_icon_ytext.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-10">
                    <div class="header__nav mt-2">
                        <nav class="header__menu">
                            <ul id="nav">
                                <li><a href="/home">Home</a></li>
                                <li><a href="/accommodation">Accommodation</a></li>
                                <li><a href="/about">About Us</a></li>
                                <li><a href="/accommodation/add">Add</a></li>
                                <li><a href="/contact">Contact Us</a></li>
                                <li><a href="#">Account</a>
                                    <ul class="dropdown">
                                        <li class="hoverable"><a href="/listings">My Listings</a></li>
                                        <li class="hoverable"><a href="/reservations">My Reservations</a></li>
                                        <li class="hoverable"><a href="/account/manage">Manage Account</a></li>
                                        <li class="hoverable"><a href="/account/logout">Sign Out</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                        <!--                        <div class="header__nav__widget">-->
                        <!--                            <a href="#">Book Now <span class="arrow_right"></span></a>-->
                        <!--                        </div>-->
                    </div>
                </div>
            </div>
            <div class="canvas__open">
                <span class="fa fa-bars"></span>
            </div>
        </div>
    </div>
</header>

<script>
    $(function(){
        var current = location.pathname.split("/");
        var curr = current[current.length-1];
        if(curr.length) {
            $('#nav li a').each(function () {
                var $this = $(this);
                if ($this.attr('href').endsWith(curr)) {
                    $this.parent().addClass('active');
                }
                // if the current path is like this link, make it active

            })
        }
        else{
            $('#nav li a[href="/home"]').parent().addClass('active');
        }
    })
</script>