<section class="room-details-slider" xmlns:th="http://www.thymeleaf.org">
        <div class="room__details__pic__slider owl-carousel owl-loaded">
            <div class="owl-stage-outer">
                <div class="owl-stage">
                    <div th:each="img : ${resObject.getObjectImages()}" class="owl-item">
                        <img class="img-fluid" th:src="${img}" alt="${resObject.getName()}">
                    </div>
                </div>
            </div>
        </div>

</section>
<section class="room-details spad" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="room__details__content">
                    <div class="room__details__rating">
                        <div class="room__details__hotel">
                            <span th:text="${resObject.getCategory()}"></span>
                        </div>
                        <div class="room__details__advisor">
                            <div class="room__details__advisor__rating">
                                <span class="icon_star"></span>
                                <span class="icon_star"></span>
                                <span class="icon_star"></span>
                                <span class="icon_star"></span>
                                <span class="icon_star-half_alt"></span>
                            </div>
                            <span class="review">(1000 Reviews)</span>
                        </div>
                    </div>
                    <div class="room__details__title" th:if="${@creatorCheck.check(resObject.getId(),#authentication)}">
                        <h2 th:text="${resObject.getName()}"></h2>
                        <a th:href="'/accommodation/edit/' + ${resObject.getId()}" class="primary-btn">Edit</a>
                        <a th:href="'/accommodation/' + ${resObject.id} + '/unit/add'" class="primary-btn">Add new unit!</a>
                    </div>
                    <div class="room__details__desc">
                        <h2>Description:</h2>
                        <p th:text="${resObject.getDescription()}"></p>
                    </div>
                    <div class="row">
                        <div th:each="unit : ${units}" class="row">
                            <div class="col-lg-6 p-0 order-lg-2 order-md-2 col-md-6">
                                <!--                        <div id="carouselExampleSlidesOnly" class="carousel slide">-->
                                <!--                            <div class="carousel-inner">-->
                                <!--                                <div th:each="img : ${res.getObjectImages()}" class="carousel-item active">-->
                                <!--                                    <img class="d-block w-100" th:src="${img}" alt="${res.getName()}">-->
                                <!--                                </div>-->
                                <!--                                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">-->
                                <!--                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
                                <!--                                    <span class="sr-only">Previous</span>-->
                                <!--                                </a>-->
                                <!--                                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">-->
                                <!--                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>-->
                                <!--                                    <span class="sr-only">Next</span>-->
                                <!--                                </a>-->
                                <!--                            </div>-->
                                <!--                        </div>-->
                                <div class="room__pic__slider owl-carousel owl-loaded">
                                    <div class="owl-stage-outer">
                                        <div class="owl-stage">
                                            <div th:each="img : ${unit.getUnitImages()}" class="owl-item">
                                                <img class="img-fluid" th:src="${img}" alt="${unit.getSize()}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 p-0 order-lg-1 order-md-1 col-md-6">
                                <div class="room__text">
                                    <h3 th:text="${unit.getTitle()}"></h3>
                                    <h2 th:utext="('<sup>$</sup>' + ${unit.getPrice()} + '<span>/day</span>')"></h2>
                                    <h4 th:text="${unit.getDescription()}"></h4>
                                    <ul>
                                        <li><span>Address:</span><span th:text="${unit.getDescription()}"></span></li>
                                        <li th:text="${unit.getSize()}"><span>Category:</span></li>
                                        <li><span>Bed:</span>King Beds</li>
                                        <li><span>Services:</span>Wifi, Television, Bathroom,...</li>
                                        <li><span>View:</span>Sea View</li>
                                    </ul>
                                    <a th:href="'/accommodation/' + ${resObject.getId()}+ '/unit/'+${unit.getId()}">View Details</a>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="pagination__number">
                                <a href="#">1</a>
                                <a href="#">2</a>
                                <a href="#">Next <span class="arrow_right"></span></a>
                            </div>
                        </div>
                    </div>

                </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    $('.owl-carousel').owlCarousel({
        touchDrag: false,
        mouseDrag: false,
        nav: true,
        responsive: {
            0: {
                items: 1
            },
            600: {
                items: 3
            },
            1000: {
                items: 3
            }
        }
    });
</script>