<div class="breadcrumb-option set-bg"
     data-setbg="/assets/room.png" style="background-image: url('/assets/room.png');" xmlns:th="http://www.thymeleaf.org">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h1 th:if="${edit}==false">Add Accommodation</h1>
                    <h1 th:if="${edit}==true">Edit Accommodation</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="add-accommodation spad">
    <div class="container">
        <form method="post" id="contactForm" class="contact__form" name="contactForm" th:action="(${edit}==true? '/accommodation/edit/' + ${reservationObject.getId()} : '/accommodation/add')" xmlns:th="http://www.thymeleaf.org">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <input id="name"
                               class="form-control"
                               type="text"
                               name="name"
                               th:value="(${reservationObject}!=null? ${reservationObject.getName()}:'')"
                               placeholder="Name">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <input id="address"
                               class="form-control"
                               type="text"
                               name="address"
                               th:value="(${reservationObject}!=null? ${reservationObject.getAddress()}:'')"
                               placeholder="Address">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <textarea id="description"
                                  class="form-control"
                                  name="description"
                                  cols="30"
                                  rows="4"
                                  th:text="(${reservationObject}!=null? ${reservationObject.getDescription()}:'')"
                                  placeholder="Description"></textarea>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <select id="category" name="category" style="display: none;">
                            <option th:selected="${reservationObject}==null" value="">Pick a category</option>
                            <option th:each="category : ${T(com.hvt.booking_lux.model.enumeration.Category).values()}" th:value="${category}" th:text="${category}" th:selected="${reservationObject}!=null? ${reservationObject.category==category} :'false'">
                        </select>
                    </div>
                </div>
                <div class="col-md-12" th:if="${edit}==false">
                    <div class="form-group">
                        <select class="mt-1rem" id="city" name="cityId" style="display:none;">
                            <option value="1">SKOPJE</option>
                            <option value="2">BITOLA</option>
                            <option value="3">VELES</option>
                            <option value="4">STRUMICA</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group" style="margin-top: 1rem">
                        <input type="submit" value="Submit" class="btn primary-btn">
                        <div class="submitting"></div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>