<div class="breadcrumb-option set-bg"
     data-setbg="/assets/room.png" style="background-image: url('/assets/room.png');" xmlns:th="http://www.thymeleaf.org">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h1>Add Accommodation</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="add-accommodation spad">
    <div class="container">
        <form id="contactForm" class="contact__form" name="contactForm" xmlns:th="http://www.w3.org/1999/xhtml">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <input id="name"
                               class="form-control"
                               type="text"
                               name="name"
                               placeholder="Name">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <input id="address"
                               class="form-control"
                               type="text"
                               name="address"
                               placeholder="Address">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <textarea id="description"
                                  class="form-control"
                                  name="name"
                                  cols="30"
                                  rows="4"
                                  placeholder="Description"></textarea>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <select id="category" name="category" style="display: none;">
                            <option value="HOTEL">HOTEL</option>
                            <option value="HOUSE">HOUSE</option>
                            <option value="APARTMENT">APARTMENT</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <select class="mt-1rem" id="city" name="city" style="display:none;">
                            <option value="Skopje">SKOPJE</option>
                            <option value="Bitola">BITOLA</option>
                            <option value="Veles">VELES</option>
                            <option value="Strumica">STRUMICA</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group" style="margin-top: 1rem">
                        <input type="submit" value="Submit" class="btn primary-btn">
                        <div class="submitting"></div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>