<div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1048.3541231470856!2d21.43168421844593!3d41.99612823689114!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x135415b475092443%3A0x2420e649a4b27994!2zU3F1YXJlIOKAnk1hY2Vkb25pYeKAnQ!5e0!3m2!1sen!2smk!4v1613774637828!5m2!1sen!2smk" style="border:0;" allowfullscreen="" height="600"></iframe>
</div>

<section class="contact spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-6 col-sm-5">
                <div class="contact__widget">
                    <div class="contact__widget__item">
                        <h4>Contact Us</h4>
                        <ul>
                            <li>+389 72 69 69 69</li>
                            <li>hvtinfo@gmail.com</li>
                        </ul>
                    </div>
                    <div class="contact__widget__item">
                        <h4>Address</h4>
                        <p>Gjaurska Ulica 69/420,<br>Republic of Macedonia</p>
                    </div>
                    <div class="contact__widget__time">
                        <h4>Working Hours</h4>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="contact__widget__time__item">
                                    <ul>
                                        <li>Monday - Friday</li>
                                        <li><span>8 am - 9 pm</span></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="contact__widget__time__item">
                                    <ul>
                                        <li>Saturday - Sunday</li>
                                        <li><span>8 am - 4 pm</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 offset-lg-1 col-md-6 col-sm-7">
                <div class="contact__form">
                    <h2>Contact Form</h2>
                    <form action="#">
                        <input type="text" placeholder="Your Name">
                        <input type="email" placeholder="Email">
                        <textarea placeholder="Your Message"></textarea>
                        <button type="submit">Send Message</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>