<section class="hero spad set-bg" data-setbg="assets/hotel4.jpg" style="background-image: url('assets/hotel4.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="hero__text">
                    <h4>WELCOME TO HVT BOOKING LUX</h4>
                    <h2>Experience the foreign like you're at home.</h2>
                </div>
                <form method="get" action="/accommodation" class="filter__form">
                    <div class="filter__form__item filter__form__item--search">
                        <p>Location</p>
                        <div class="filter__form__input">
                            <input type="text" placeholder="Search Location" name="city">
                            <span class="icon_search"></span>
                        </div>
                    </div>
                    <div class="filter__form__item">
                        <p>Check In</p>
                        <div class="filter__form__datepicker">
                            <input type="date" class="datepicker_pop check__in hasDatepicker" id="dp1613504077692" name="checkInDate">
                        </div>
                    </div>
                    <div class="filter__form__item">
                        <p>Check Out</p>
                        <div class="filter__form__datepicker">
                            <input type="date" class="datepicker_pop check__in hasDatepicker" name="checkOutDate">
                        </div>
                    </div>
                    <div class="filter__form__item filter__form__item--select">
                        <p>Person</p>
                        <div class="filter__form__select">
                            <span class="icon_group"></span>
                            <select style="display: none;" name="numPeople">
                                <option value="3">2 Adult, 1 Children</option>
                                <option value="2">2 Adult</option>
                                <option value="1">1 Adult</option>
                            </select><div class="nice-select" tabindex="0"><span class="current">2 Adult, 1 Children</span><ul class="list"><li data-value="" class="option selected">2 Adult, 1 Children</li><li data-value="" class="option">2 Adult</li><li data-value="" class="option">1 Adult</li></ul></div>
                        </div>
                    </div>
                    <button type="submit">BOOK NOW</button>
                </form>


            </div>
        </div>
    </div>
</section>
<section class="home-about">
    <div class="container">

    </div>
</section>