<section class="spad">
    <div class="container text-center">
        <form method="post" id="loginForm" action="/login" class="contact__form" name="loginForm">
            <h2>Sign in</h2>
            <div class="row">
                <div class="col-md-6 d-inline-block centered">
                    <div class="form-group">
                        <input id="username"
                               class="form-control"
                               type="text"
                               name="username"
                               placeholder="Username">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 d-inline-block centered">
                    <div class="form-group">
                        <input id="password"
                               class="form-control"
                               type="password"
                               name="password"
                               placeholder="Password">
                    </div>
                    <hr>
                </div>
            </div>
            <div class="row">

                <div class="col-md-6 centered">
                    <span>Don't have an account? <a href="/register">Register here!</a></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 d-inline-block centered">
                    <div class="form-group" style="margin-top: 1rem">
                        <input type="submit" value="Login" class="btn primary-btn">
                        <div class="submitting"></div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>