<div class="breadcrumb-option set-bg"
     data-setbg="/assets/room.png" style="background-image: url('/assets/room.png');" xmlns:th="http://www.thymeleaf.org">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h1>My Listings</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="spad" xmlns:th="http://www.thymeleaf.org">
    <div class="container">
        <div class="row hoverable-unit border-bottom border-top py-2" th:data-id="'TUKA STAVI ID OD UNIT'" th:data-res="'TUKA STAVI ID OD RESOBJECT'" onclick="redirectToUnit(this)">
            <div class="row my-2 mb-2">
                <div class="col-lg-3 p-0 order-lg-1 order-md-1 col-md-3 px-3">
                    <img src="/assets/room-4.jpg">
                </div>
                <div class="col-lg-6 p-0 order-lg-2 order-md-2 col-md-6 px-2">
<!--                    <h5 class="font-weight-light" th:text="${#temporals.format(reservation.getReservationDate(), 'dd-MM-yyyy HH:mm')}">Placeholder text</h5>-->
                    <h5 class="font-weight-light">Placeholder text</h5>
                    <h4>Name</h4>
                    <p>Description</p>
                </div>
                <div class="col-lg-3 p-0 order-lg-3 order-md-3 col-md-3">
                    <a class="btn primary-btn mb-2 d-block">Add Unit</a>
                    <a class="btn primary-btn d-block">Edit</a>
                    <a class="btn primary-btn mt-2 d-block">Delete</a>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    function redirectToUnit(unit){
        var unitId = $(unit).data('id');
        var resId = $(unit).data('res');
        console.log(unitId);
        console.log(resId);
        window.location = '/accommodation/' + resId + '/unit/' + unitId;
    }
</script>