<section class="room-details spad" xmlns:th="http://www.thymeleaf.org">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h1>My Reservations</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <table>
                    <thead>
                    <tr>
                        <th>Accommodation</th>
                        <th>Unit</th>
                        <th>Price per night</th>
                        <th>From</th>
                        <th>To</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="reservation : ${reservations}">
                        <td><a th:href="('/accommodation/'+${reservation.getUnit().getResObject().getId()})">Accommodation</a></td>
                        <td><a th:href="('/accommodation/'+${reservation.getUnit().getResObject().getId()} + '/unit/' + ${reservation.getUnit().getId()})">Reserved Unit</a></td>
                        <td th:text="${reservation.getPricePerNight()}"></td>
                        <td th:text="${reservation.getFromDate().toLocalDate()}"></td>
                        <td th:text="${reservation.getToDate().toLocalDate()}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>