<form method="get" action="/accommodation" class="filter__form" xmlns:th="http://www.thymeleaf.org">
    <div class="filter__form__item filter__form__item--search">
        <p>Location</p>
        <div class="filter__form__input">
            <input id="cityInput" type="text" placeholder="Search Location" name="city" th:value="${session?.cityName}">
            <span class="icon_search"></span>
        </div>
    </div>
    <div class="filter__form__item">
        <p>Check In</p>
        <div class="filter__form__datepicker firstdate">
            <input type="date" class="" id="dp1613504077692" name="checkInDate" th:value="${session?.checkIn?.toLocalDate()}">
        </div>
    </div>
    <div class="filter__form__item">
        <p>Check Out</p>
        <div class="filter__form__datepicker seconddate">
            <input type="date" class="" name="checkOutDate" th:value="${session?.checkOut?.toLocalDate()}">
        </div>
    </div>
    <!--datepicker_pop check__in hasDatepicker-->
    <div class="filter__form__item filter__form__item--select">
        <p>Person</p>
        <div class="filter__form__select">
            <span class="icon_group"></span>
            <select style="display: none;" name="numPeople">
                <option value="3">2 Adult, 1 Children</option>
                <option value="2">2 Adult</option>
                <option value="1">1 Adult</option>
            </select>
        </div>
    </div>
    <button type="submit">BOOK NOW</button>
</form>
<script xmlns:th="http://www.thymeleaf.org" th:inline="javascript">
    $(function() {
        $.get(
            "/api/cities",
            function(data){
                var availableCities = data;
                $( "#cityInput" ).autocomplete({
                    source: availableCities
                });
            }
        )
    });
</script>
<script>
    $(document).ready(function () {

        $( ".firstdate input" ).datepicker("setDate",$( ".firstdate input" ).val());
        $( ".seconddate input" ).datepicker("setDate",$( ".seconddate input" ).val());

        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth()+1; //January is 0 so need to add 1 to make it 1!
        var yyyy = today.getFullYear();
        if(dd<10){
            dd='0'+dd
        }
        if(mm<10){
            mm='0'+mm
        }

        today = yyyy+'-'+mm+'-'+dd;
        $('.firstdate input').attr("min", today);
        $('.seconddate input').attr('min', today);

        $('.firstdate input').on('change', function() {
            var datearray = $('.firstdate input').val().split("-");
            var year = datearray[0];
            var month = datearray[1];
            var day = datearray[2];
            var minDate = (year +"-"+ month +"-"+ day);
            console.log(minDate);
            $('.seconddate input').attr('min',minDate);
        });
    });

</script>