<div class="chooseus spad set-bg" data-setbg="/assets/about-us-bg.png" style="background-image: url('/assets/about-us-bg.png');">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-8 text-center">
                <div class="chooseus__text">
                    <div class="section-title">
                        <h5>WHY CHOOSE US</h5>
                        <h2>We offer a variety of accommodation and easy way to book and rent your own places</h2>
                    </div>
                    <a href="/accommodation" class="primary-btn">Book Now</a>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="about spad">
    <div class="container">
        <div class="about__content">
            <div class="row">
                <div class="col-lg-5">
                    <div class="section-title">
                        <h5>Our Specialization</h5>
                        <h2>Welcome to HVT Booking LUX</h2>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="about__text text-justify">
                        <p>Metasurfaces are generally designed by placing scatterers in periodic or pseudo-periodic
                            grids.</p>
                        <p>I am convinced the only way to make money online is to have a consistent Advertising
                            plan. A plan you are willing to work hard on and commit to for a selected period of
                            time. When making this plan, you need to do two things.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row text-justify">
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="services__item">
                    <img src="img/services/services-3.png" alt="">
                    <h4>Luxury Reservations</h4>
                    <p>We offer a variety of hotel rooms, apartments and houses. If you want to rent or book
                        a luxurious place, we are your best place to do it.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="services__item">
                    <img src="img/services/services-2.png" alt="">
                    <h4>Budget Rooms</h4>
                    <p>Even if you don't want to spend a lot of money on a reservation, we got you covered.
                        We have budget rooms for those of you that want to stay only a night or are looking
                        for a cheaper place to stay for your vacation.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="services__item">
                    <img src="img/services/services-4.png" alt="">
                    <h4>Rent your place</h4>
                    <p>It's easy renting your place. Just fill in a couple of forms and you're done.
                        Your application will be reviewed as soon as our moderators are available.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="services__item">
                    <img src="img/services/services-5.png" alt="">
                    <h4>Reviews</h4>
                    <p>We provide a critical analysis of your place by letting people review as clients
                        and as landlords.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="services__item">
                    <img src="img/services/services-6.png" alt="">
                    <h4>Statistics</h4>
                    <p>Check your statistics for your rented or booked places like monthly income,
                        number of reservations and more.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="services__item">
                    <img src="img/services/services-1.png" alt="">
                    <h4>Excellent Customer Support</h4>
                    <p>If there are any problems with our service, our customer support is available 24/7.
                        Contact us on our support e-mail or live chat, and we'll help you as soon as we can.</p>
                </div>
            </div>
        </div>
    </div>
</section>
