<div class="breadcrumb-option set-bg"
     data-setbg="/assets/room.png" style="background-image: url('/assets/room.png');" xmlns:th="http://www.thymeleaf.org">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h1>Add Unit</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="add-accommodation spad">
    <div class="container">
        <form method="post" id="contactForm" class="contact__form" name="contactForm" th:action="(${edit}==true? '/accommodation/' + ${resObjectId} + '/unit/edit/'+${unit.getId()} : '/accommodation/' + ${resObjectId} + '/unit/add')" xmlns:th="http://www.thymeleaf.org">
            <div class="row">

                <div class="col-md-12">
                    <div class="form-group">
                        <input id="title"
                               class="form-control"
                               type="text"
                               name="title"
                               th:value="(${unit}!=null ? ${unit.getTitle()}:'')"
                               placeholder="title">
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group">
                        <textarea id="description"
                                  class="form-control"
                                  name="description"
                                  cols="30"
                                  rows="4"

                                  th:text="(${unit}!=null ? ${unit.getDescription()}:'')"
                                  placeholder="Description"></textarea>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group">
                        <input id="size"
                               class="form-control"
                               type="number"
                               name="size"
                               th:value="(${unit}!=null ? ${unit.getSize()}:'')"
                               placeholder="size">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <input id="price"
                               class="form-control"
                               type="number"
                               name="price"
                               th:value="(${unit}!=null ? ${unit.getPrice()}:'')"
                               placeholder="price">
                    </div>
                </div>
                <div id="imageParent">
                    <div class="row pl-1 mb-3" th:if="${unit==null}">
                        <div class="col-md-10">
                            <input class="form-control"
                                   name="images"
                                   placeholder="Image URL" required>
                        </div>
                        <div class="col-md-1 col-lg-1 my-auto text-center">
                            <button class="btn-round fa fa-minus" style="background-color: red" type="button" onclick="removeField(this)"></button>
                        </div>
                    </div>
                    <div class="row pl-1 mb-3" th:each="image: ${unit?.getUnitImages()}">
                        <div class="col-md-10">
                            <input class="form-control"
                                   name="images"
                                   placeholder="Image URL"
                                   th:value="${image}"
                                   required>
                        </div>
                        <div class="col-md-1 col-lg-1 my-auto text-center">
                            <button class="btn-round fa fa-minus" style="background-color: red" type="button" onclick="removeField(this)"></button>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <div th:each="bedtype : ${T(com.hvt.booking_lux.model.enumeration.BedType).values()}">
                            <label th:text="${bedtype}"></label>
                            <input name="bedType" id="bedType" th:value="${bedtype}" hidden="hidden">
                            <input type="number" class="form-control" th:value="${unit}!=null ? ${T(com.hvt.booking_lux.service.impl.BedTypesService).searchForBedType(bedtype,unit.getBedTypes().stream())} : 0" name="count">
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group" style="margin-top: 1rem">
                        <input type="submit" value="Submit" class="btn primary-btn">
                        <div class="submitting"></div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

<script>

    $(document).ready(function(){
        moveNewInputButton()
    })


    function moveNewInputButton()
    {
        var div = document.createElement("div")
        div.setAttribute("class","col-md-1 col-lg-1 my-auto text-center")
        var button = document.createElement("button")
        button.setAttribute("class","btn-round fa fa-plus")
        button.setAttribute("onclick", "addNewField(this)")
        button.setAttribute("type","button")
        div.appendChild(button);
        $("#imageParent > div")[$("#imageParent > div").length-1].appendChild(div)
    }
    function addNewField(plusBtn){
        var inputField = '<div class="row pl-1 mb-3">\n' +
            '                        <div class="col-md-10">\n' +
            '                            <input class="form-control"\n' +
            '                                   name="images"\n' +
            '                                   placeholder="Image URL">\n' +
            '                        </div>\n'  +
            '<div class="col-md-1 col-lg-1 my-auto text-center">\n' +
            '                            <button class="btn-round fa fa-minus" style="background-color: red" type="button" onclick="removeField(this)"></button>\n' +
            '                        </div>' +
            '                    </div>';
        $('#imageParent').append(inputField);
        $(plusBtn.parentNode).remove();
        moveNewInputButton();
    }
    function removeField(removeButton){
        var parent = removeButton.parentNode.parentNode.parentNode
        let forRemove = removeButton.parentNode.parentNode
        if(!$("#imageParent > div")[$("#imageParent > div").length-1].isEqualNode($("#imageParent > div")[0]))
        {
            if($("#imageParent > div")[$("#imageParent > div").length-1].isEqualNode(forRemove))
            {
                parent.removeChild(forRemove);
                moveNewInputButton();
            }
            else
            {
                parent.removeChild(forRemove);
            }
        }

    }
</script>