<section class="spad" xmlns:th="http://www.thymeleaf.org">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-4 centered">
                <h2>Review Reservation</h2>
            </div>
        </div>
        <div class="row gutters-sm">
            <div class="col-md-8 mb-3">
                <div class="card mb-1">
                    <div class="card-body">
                        <h4>IS ALL YOUR INFORMATION CORRECT?</h4>
                        <p>Before you place your order, please take a moment to review your information, billing
                        details and summary</p>
                    </div>
                </div>
                <div class="card mb-1">
                    <div class="card-header" style="background-color: #1d1c1c">
                        <h4 class="text-white"><i class="fa fa-check text-success mr-2"></i>1. RESERVATION</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <p class="font-weight-bold">Your Information</p>
                                <p th:text="${user.getFirstName()} + ' ' + ${user.getLastName()}">Teodor Penevski</p>
                                <p th:text="${user.getAddress()}">Bay Area, San Francisco, CA</p>
                                <p th:text="${user.getUsername()}">teodorpenevski@hvtinfo.com</p>
                                <p th:text="${user.getPhone()}">(389) 72 696 969</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-1">
                    <div class="card-header" style="background-color: #1d1c1c">
                        <h4 class="text-white"><i class="fa fa-check text-success mr-2"></i>2. PAYMENT</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <p class="font-weight-bold">Payment Method</p>
                                <p><i class="fa fa-money mr-2"></i>Direct Payment</p>
                                <br/>
                                <p class="font-weight-bold">Billing Details</p>
                                <p th:text="${user.getFirstName()} + ' ' + ${user.getLastName()}">Teodor Penevski</p>
                                <p th:text="${user.getAddress()}">Bay Area, San Francisco, CA</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-1">
                    <div class="card-header" style="background-color: #1d1c1c">
                        <h4 class="text-white">3. CONFIRMATION</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <p>By clicking the Confirm button, you confirm that you have read and understood,
                                    and accept our <u>Terms and Conditions</u>, <u>Return Policy</u> and <u>Privacy Policy</u>.
                                </p>
                                <form method="post" th:action="'/reserve/' + ${unit.getId()}">
                                    <button type="submit" class="btn primary-btn float-right">Confirm</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-1">
                    <div class="card-header" style="background-color: #e5e5e5">
                        <h4>SUMMARY</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <span class="float-left">Subtotal</span> <span class="float-right">150.00$</span><br/>
                                <span class="float-left">Estimated Tax</span> <span class="float-right">15.00$</span><br/>
                                <hr>
                                <span class="float-left font-weight-bold">TOTAL</span> <span class="float-right">165.00$</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-1">
                    <div class="card-header" style="background-color: #e5e5e5">
                        <h4>PROMO CODE</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <p class="font-weight-bold h6">Enter promo code</p>
                                <input type="text" class="form-control" placeholder="Promo Code">
                                <button class="btn primary-btn mt-3 float-right">Apply</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-1">
                    <div class="card-header" style="background-color: #e5e5e5">
                        <h4>RESERVATION SUMMARY</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <p th:text="${unit.getResObject().getName()}" class="font-weight-bold h5">House in Belgrade</p>
                                <hr>
                                <span class="font-weight-bold float-left">Address:</span> <span th:text="${unit.getResObject().getAddress()}" class="float-right"></span><br/>
                                <span class="font-weight-bold float-left">Bed:</span><span th:text="${unit.getBedsAsString()}" class="float-right"></span><br/>
                                <span class="font-weight-bold float-left">Dates:</span><span th:text="${#session.getAttribute('checkIn').toLocalDate().getDayOfMonth()} + '/' + ${#session.getAttribute('checkIn').toLocalDate().getMonthValue()} + '/' + ${#session.getAttribute('checkIn').toLocalDate().getYear()} + ' - ' + ${#session.getAttribute('checkOut').toLocalDate().getDayOfMonth()} + '/' + ${#session.getAttribute('checkOut').toLocalDate().getMonthValue()} + '/' + ${#session.getAttribute('checkOut').toLocalDate().getYear()}" class="float-right"></span><br/>
                                <span class="font-weight-bold float-left">Num. People:</span><span th:text="${unit.getNumberOfPeople()}" class="float-right"></span><br/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>