<div class="breadcrumb-option set-bg"
     data-setbg="/assets/room.png" style="background-image: url('/assets/room.png');" xmlns:th="http://www.thymeleaf.org">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h1>My Reservations</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="spad" xmlns:th="http://www.thymeleaf.org">
    <div class="container">
        <div class="row" th:each="reservation : ${reservations}">
            <div  class="row hoverable-unit my-2 mb-2 border-top border-bottom py-3" th:data-id="${reservation.getUnit().getId()}" th:data-res="${reservation.getUnit().getResObject().getId()}" onclick="redirectToUnit(this)">
                <div class="col-lg-3 p-0 order-lg-1 order-md-1 col-md-3 pr-4">
                    <img th:src="${reservation.getUnit().getResObject().getObjectImages().get(0)}">
                </div>
                <div class="col-lg-6 p-0 order-lg-2 order-md-2 col-md-6">
                    <h5 class="font-weight-light" th:text="${#temporals.format(reservation.getReservationDate(), 'dd-MM-yyyy HH:mm')}">Placeholder text</h5>
                    <h4 th:text="${reservation.getUnit().getResObject().getName()}"></h4>
                    <p th:text="${reservation.getUnit().getDescription()}"></p>
                    <p th:utext="${reservation.getUnit().getBedsAsString()} + ', ' + ${reservation.getUnit().getSize()} + 'm<sup>2</sup>'"></p>
                    <a th:if="${canWriteList.get(reservations.indexOf(reservation))} == true" id="reviewLink" class="btn-link" onclick="showReviewForm(this)">Leave a review...</a>
                    <span th:if="${canWriteList.get(reservations.indexOf(reservation))} != true" class="text-danger">You cannot review this!</span>
                    <div class="contact__form"  style="display: none">
                        <form method="post" th:action="'/review/' + ${reservation.getId()} + '/add'">
                            <textarea name="comment" id="comment" class="comment" placeholder="Your review..."></textarea>
                            <button type="submit">Submit</button>
                        </form>
                    </div>
                </div>
                <div class="col-lg-3 p-0 order-lg-3 order-md-3 col-md-3 text-right">
                    <h5><span class="font-weight-light" th:text="${reservation.numberOfNights()} + ' nights x ' + ${reservation.getUnit().getPrice()} + '$'"></span></h5>
                    <br>
                    <h4>Total amount: </h4><h3 th:text="${reservation.getTotalAmount()} + '$'"></h3>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    function redirectToUnit(unit){
        var unitId = $(unit).data('id');
        var resId = $(unit).data('res');
        console.log(unitId);
        console.log(resId);
        window.location = '/accommodation/' + resId + '/unit/' + unitId;
    }

    function showReviewForm(selected){
        event.stopImmediatePropagation();
        $(selected).next().removeAttr('style');
        $(selected).css('display', 'none');
        $('.comment').click(function(e){
            e.stopPropagation();
        })
    }

</script>