<section class="room-details-slider" xmlns:th="http://www.thymeleaf.org">
    <div class="room__details__pic__slider owl-carousel owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">
                <div th:each="img : ${unit.getResObject().getObjectImages()}" class="owl-item">
                    <img class="img-fluid" th:src="${img}" alt="${unit.getResObject().getName()}">
                </div>
            </div>
        </div>
    </div>

</section>
<section class="room-details spad" xmlns:th="http://www.thymeleaf.org">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-6 col-sm-5">
                <div class="room__details__content">
                    <div class="room__details__rating">
                        <div class="room__details__hotel">
                            <span th:utext="${unit.getSize()} + ' m<sup>2</sup>, ' + ${unit.getNumberOfPeople() + ' people'}"></span>
                        </div>
                        <div class="room__details__advisor">
                            <div class="room__details__advisor__rating">
                                <span class="icon_star"></span>
                                <span class="icon_star"></span>
                                <span class="icon_star"></span>
                                <span class="icon_star"></span>
                                <span class="icon_star-half_alt"></span>
                            </div>
                            <span class="review">(1000 Reviews)</span>
                        </div>
                    </div>
                    <div class="room__details__title">
                        <h2 th:text="${unit.getResObject().getName()}"></h2>
                    </div>
                    <div class="room__details__desc">
                        <h2>Description:</h2>
                        <p th:text="${unit.getDescription()}"></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 offset-lg-1 col-md-6 col-sm-7">
                <div class="contact__form">
                    <form th:action="'/reserve/' + ${unit.getId()}" method="get">
                        <div class="row justify-content-center">
                        <div class="filter__form__item">
                            <p>Check In</p>
                            <div class="filter__form__datepicker firstdate">
                                <input type="date" class="" id="dp1613504077692" name="checkInDate" th:value="${session?.checkIn?.toLocalDate()}" required>
                            </div>
                        </div>
                        <div class="filter__form__item">
                            <p>Check Out</p>
                            <div class="filter__form__datepicker seconddate">
                                <input type="date" class="" name="checkOutDate" th:value="${session?.checkOut?.toLocalDate()}" required>
                            </div>
                        </div>
                        </div>
                        <br/>
                        <div class="row justify-content-center">
                            <div class="col-3">
                                <button type="submit">Book Now</button>
                            </div>

                        </div>
                    </form>
                    <p th:if="${error!=null}" th:text="${error}" class="text-danger">sdfd</p>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $(document).ready(function () {
        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth()+1; //January is 0 so need to add 1 to make it 1!
        var yyyy = today.getFullYear();
        if(dd<10){
            dd='0'+dd
        }
        if(mm<10){
            mm='0'+mm
        }

        today = yyyy+'-'+mm+'-'+dd;
        $('.firstdate input').attr("min", today);
        $('.seconddate input').attr('min', today);

        $('.firstdate input').on('change', function() {
            var datearray = $('.firstdate input').val().split("-");
            var year = datearray[0];
            var month = datearray[1];
            var day = datearray[2];
            var minDate = (year +"-"+ month +"-"+ day);
            console.log(minDate);
            $('.seconddate input').attr('min',minDate);
        });
    });

    $('.owl-carousel').owlCarousel({
        touchDrag: false,
        mouseDrag: false,
        nav: true,
        responsive: {
            0: {
                items: 1
            },
            600: {
                items: 3
            },
            1000: {
                items: 3
            }
        }
    });
</script>