<div class="container">
    <div class="row mb-2">
        <div class="col-11"><h2>Annual Income Statistics</h2></div>
        <div class="col-1">
            <select id="selectYearIncome" onchange="updateBarChartIncome()">
                <option th:each="year : ${#numbers.sequence(#dates.year(#dates.createNow()),2015,-1)}" th:value="${year}" th:text="${year}" th:selected="${year==#dates.year(#dates.createNow())-1}"></option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-12 centered">
            <canvas id="myBarChartIncome" height="100"></canvas>
        </div>
    </div>
</div>

<script>
    function updateBarChartIncome(){

        let year = document.getElementById("selectYearIncome").value

        let url = "/api/data/income/"+year;

        if(user!=undefined)
        {
            url += ("?username="+user)
        }

        d3.json(url, function(data) {

            let canvas = document.getElementById("myBarChartIncome")
            let canvasParent = canvas.parentNode
            canvasParent.removeChild(canvas);
            canvas = document.createElement("canvas")
            canvas.setAttribute("id","myBarChartIncome")
            canvas.setAttribute("height","100")
            canvasParent.appendChild(canvas)

            let months = data.map(function(d){
                return d["Month"];
            })

            let labels = Object.keys(data[0])
            labels = labels.filter(word=>word != "Month")


            let myDatasets = []

            labels.forEach(createDataSets)

            function createDataSets(item,index){
                let itemData = data.map(function (d){
                    return parseInt(d[item], 10);
                })
                let label = item.toString().slice(0,item.toString().lastIndexOf(" "))
                myDatasets.push({label:label,data:itemData,backgroundColor: getRandomColor()})
            }

            function getRandomColor() {
                let letters = '0123456789ABCDEF';
                let color = '#';
                for (var i = 0; i < 6; i++) {
                    color += letters[Math.floor(Math.random() * 16)];
                }
                return color;
            }

            let finalData = {
                labels : months,
                datasets: myDatasets
            }

            var ctx = document.getElementById("myBarChartIncome")
            chart = new Chart(ctx, {
                type: 'bar',
                data: finalData,
                options: {
                    scales: {
                        yAxes: [{
                            stacked: true
                        }],
                        xAxes: [{
                            stacked: true,
                        }]
                    }
                }
            });
        })
    }
    $( document ).ready(function(){
        updateBarChartIncome()
    })

</script>